{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.png'%}" >
    <title>shoppingcs</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="{% static 'smallscreen.css' %}">
</head>
<body>
  <div class="filler-div"></div>
  <!--header-->
  <nav>
      <div class="header-div">
          <div class="logo-div">
              <a href="#"><img src="{% static 'images/logo2.jpg' %}" class=logo alt="logo"></a>
          </div>
          <!--search bar-->
          <div class="search-div">
              <form action="POST">
                  <input type="text" class="searchbar">
                  <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
              </form>
          </div>
          {% if user.is_authenticated %}
          
          <div class="dummy-div">
            <img id="avatar" src="{% static 'images/a.jpg' %}" alt="">
            <div class="dropdown">
              <span class="dropbtn"><h6 style="color: white;">hello,{{user.username}}</h6></span>
              <div class="dropdown-content">
                <a href="#">Your Profile</a>
                <a href="#">Your Orders</a>
                <a href="#">Your Suggestions</a>
                <a href="#">Your Wishlists</a>
                <a href="{% url 'logout' %}">Log Out</a>
              </div>
            </div>
            
            
           
          </div>
          <div class="cart-div"><a href=""><img id=cart src="{% static 'images/cart.jpg' %}" alt="shopping cart" class="cart"></a></div>

          {% else %}
          <div class="dummy-div2"><a href="{% url 'login' %}" ><button class="login-button" type="submit">log in</button> </a></div>
          {% endif %}
      </div>
  </nav>
  <!--/header-->
  <!--navigation bar-->
  <nav>
      <div class="nav2">
          <a  href="#home">Electronics</a>
          <a href="#appliances">Tv & appliances</a>
          <a href="#sports">Sports</a>
          <a href="#fashion">Fashion</a>
          <a href="#link">link2</a>
        </div>
  <!--end of top navbar-->
  
  <!--carousel-->
  <!--image grids-->
<div class="body-grid">
  <div class="grid1" class="overlay">
    <img src="{% static 'images/vivo.jpg' %}" alt="" id="tom">
  </div>
</div>
<!--grid2-->
{% for gal in gals %}
<div><img src="{{gal.img.url}}" alt=""></div>
<!-- <div class="flex-container">
  <div><img src="{{gal.img.url}}" alt="">
  </div>
  <div><img src="{{gal.img.url}}" alt=""></div>
  
</div> -->
<br>
{% endfor %}
<!--end-->
<!-- <div class="flex-container2">
  <div><img src="{% static 'boat.jpg' %}"  alt="">
  </div>
  <div><img src="{% static 'boat.jpg' %}"  alt=""></div>
  <div><img src="{% static 'boat.jpg' %}"  alt=""></div>
</div>
<br>
<div class="flex-container3">
  <div><img src="{% static 'boat.jpg' %}"  alt="">
  </div>
  <div><img src="{% static 'boat.jpg' %}"  alt=""></div>
  <div><img src="{% static 'boat.jpg' %}"  alt=""></div>
</div> -->

<!--footer contain address -->
<div class="back-to-top"><div align="center"><a href="{% url 'index' %}"><button class="backto">back to top</button></a></div></div>
<div class="footer">
  <div class="address"><h2>REGISTERED OFFICE ADDRESS</h2>
    <P>5th floor,CAFIT Square,Hilite Business Park,Thondayad Bye-Pass</P>
    <p>Thondayad,Hilite city,poovangal,kozhikode,kerala 673016</p>
  </div>
    <div class="details">
      <div class="policy"><h3>POLICY</h3>
      <p>Return Policy</p>
      <p>Terms of use</p>
      <p>security</p>
      <p>privacy</p>
    </div>
    <div class="contact"><h3>ABOUT</h3>
      <p>Contact Us</p>
      <p>About Us</p>
      <p>Careers</p>
      <p>Cybersquare</p>
      <p>Wholesale</p>

    </div> 
    <div class="about"><h3>Buisness with US</h3>
      <a href="{% url 'sellerhome' %}" >sell with us</a>
      <p>Twitter</p>
      <p>Youtube</p>
    </div>
  </div>
 
  
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  </body>
</html>