{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> log in to ShoppingCS</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.png'%}" >
    <link rel="stylesheet" href="{% static 'form.css' %}">

</head>
<body>
  <div class="dummy">
    <div class="content"><br><br><img src="{% static 'logo2.jpg' %}" alt="">
    </div>
  </div>
  <div class="center">
    <div><h1 style="color:white;" align="center">sign-<span style="color: #fed053;">in</span></h1></div>
      <form action="">
        <p style="color: white;">Username</p>
        <input type="text" class="username-box">
        <div><div><p id="passtxt" style="color:white">password</p></div>
      <div><br><a href="#forgot pass" id="forgtpass">forgot password</a></div></div>
        <input type="password" class="password-box">
        <input type="button" class="button" value="sign-in">
        <p style="color: white;font-family:amazon ember;"> By continuing, you agree to shoppingcs's Conditions of Use and Privacy Notice.</p>
      </form>
  </div>
  <div><p style="color: white;font-family:garamond;" align="center">New to ShoppingCs?</p></div>
  <div class="center2"><button class="button2" align="center">Create your shoppingcs account</button></div>
 
</body>
</html>